@import "./colors";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: $pure-white;
  font-family: "Poppins", sans-serif;
  color: $dark-blue;
}

.cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.form__section {
  padding: 4rem 2rem;
  &-container {
    @include border-style;
    @include flex-style;

    align-items: center;
    padding: 4rem 0;
    margin: 0 auto;
    width: 90vw;
    max-width: 400px;
    background-color: $light-blue;

    &-title {
      margin-bottom: 3rem;
      font-weight: 500;
      font-size: 2.4rem;
    }

    .wrapper {
      @include flex-style;

      align-items: center;
      max-width: 100%;
    }
  }
  &-image {
    background-color: $light-blue;
  }

  &-main {
    position: relative;
    max-width: 100%;
    .form {
      @include flex-style;
      padding: 0 1rem;

      &__text {
        margin-top: 0.6rem;
      }

      &__description {
        resize: vertical;
      }

      &__button {
        margin-top: 3rem;
        background-color: $purple;
        color: $pure-white;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: lighten($purple, 5%);
        }
      }

      label,
      p {
        font-size: 1.6rem;
      }

      textarea:focus,
      input:focus,
      select:focus,
      button:focus {
        outline-color: $blue;
      }

      textarea,
      input,
      select,
      button {
        @include border-style;

        font-size: 1.6rem;
      }

      textarea,
      input,
      button {
        padding: 1rem;
      }

      input[type="radio"] {
        margin-right: 1rem;
      }

      input:disabled {
        background-color: $disabled-gray;
      }

      .vat__rate {
        padding: 0.5rem;
      }

      .label-space {
        margin-top: 3rem;
      }

      .warning-text {
        margin: 0.1rem 0 0.1rem 1.1rem;
        height: 1.6rem;
        font-size: 1.4rem;
        color: $red;
      }

      .warning-border {
        border: 0.1rem solid $red;
        background-color: #ff000017;
      }
    }

    .green-box {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 5rem 2rem;
      width: 100%;
      transform: translate(-50%, -50%);
      border-radius: 0.8rem;
      background-color: $green;
      display: none;

      &-text {
        text-align: center;
        font-size: 2.3rem;
        color: $pure-white;
      }

      &-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: transparent;
        border: transparent;
        cursor: pointer;
      }

      &-close {
        width: 3rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .form__section {
    height: 100vh;
    &-container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@media screen and (min-width: 1200px) {
  .form__section {
    &-container {
      max-width: 95rem;

      .wrapper {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        img {
          width: 42rem;
        }
      }

      &-title {
        font-size: 3.6rem;
      }
    }
  }
}
